@page "/payment"
@using Blazored.LocalStorage
@using InstaRent.Payment.Transactions
@inject ILocalStorageService localStorage

@if (!orderPlaced)
{
    <h3>PaymentOrder</h3>

    <div class="card card-body bg-light mt-2">

        @if (transactionDto != null)
        {
            <div class="col-12 row mt-2">
                <h4>Total: $@totalAmount</h4>
            </div>

            <div class="col-md-12 text-right spinner-border">
                <button type="submit" class="btn btn-success" @onclick="@Payment">Payment</button>
            </div>
        }       

    </div>

}
else
{
    <h3>Thank you for your order!</h3>
}


@code {

    bool orderPlaced = false;
    double totalAmount = 0;
    TransactionDto transactionDto;

    protected override async Task OnInitializedAsync()
    {
        transactionDto = await localStorage.GetItemAsync<TransactionDto>("payment");
        totalAmount = transactionDto.Cart_Items.Sum(x => x.Price);
    }

    async void Payment()
    {
        await localStorage.RemoveItemAsync("payment");
        orderPlaced = true;
    }
}
