@using InstaRent.BlazorApp.Shared.Users
@using Blazored.LocalStorage
@using InstaRent.BlazorApp.Services.Users
@inject IUserService _userService
@inject ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="login">Login</a>
                </NotAuthorized>
                <Authorized>
                    Welcome back!
                    <a @onclick="UserProfile">@localUser.Name</a>                                        
                    <a @onclick="Logout">Logout</a>                    
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    UserInfoDto localUser = new();
    protected override async Task OnInitializedAsync()
    {
        localUser = await localStorage.GetItemAsync<UserInfoDto>("user");
       _userService.OnChange += MenuChanged;
    }

    void Dispose()
    {
        _userService.OnChange -= MenuChanged;
    }

    private async void MenuChanged()
    {
        localUser = await localStorage.GetItemAsync<UserInfoDto>("user");
        await InvokeAsync(StateHasChanged);
    }

    private async void Logout()
    {
        await localStorage.RemoveItemAsync("user");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo($"");
    }

    private void UserProfile()
    {
        NavigationManager.NavigateTo($"/User/Edit/{localUser.Id}");
    }
}
