@using Blazored.LocalStorage
@using InstaRent.BlazorApp.Shared.Users
@using InstaRent.BlazorApp.Services.Users
@inject IUserService _userService
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">InstaRent</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalog">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Catalog List
            </NavLink>
        </div>
         <AuthorizeView>
             <Authorized>
                @{
                    if (localUser.Role == "Renter")
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="bag/index">
                                <span class="oi oi-briefcase" aria-hidden="true"></span> Bag
                            </NavLink>
                        </div>
                    }

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="transaction/index">
                            <span class="oi oi-transfer" aria-hidden="true"></span> Transaction
                        </NavLink>
                    </div>
                }           
            </Authorized>
        </AuthorizeView>
        <div class="dropdown-divider"/>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    UserInfoDto localUser = new();

    protected override async Task OnInitializedAsync()
    {
        localUser = await localStorage.GetItemAsync<UserInfoDto>("user");
        _userService.OnChange += MenuChanged;
    }

    void Dispose()
    {
        _userService.OnChange -= MenuChanged;
    }

    private async void MenuChanged()
    {
        localUser = await localStorage.GetItemAsync<UserInfoDto>("user");
        await InvokeAsync(StateHasChanged);
    }


    private async void Logout()
    {
        await localStorage.RemoveItemAsync("user");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }

    private async void Profile()
    {
        localUser = await localStorage.GetItemAsync<UserInfoDto>("user");
        NavigationManager.NavigateTo($"/User/Edit/{localUser.Id}");
    }
}
